{% extends "html/base.html.twig" %}

{% block head %}
<link rel="stylesheet" href="templates/css/registro.css" />
{% endblock %}

{% block main %}
<form action={% block action %}{% endblock %} method="post" enctype="multipart/form-data">
    <label for="titulo">Title:</label><p class="error">  {{errores.titulo}}</p><br>
    <input type="text" id="titulo" name="titulo" {% block titulo %}{% endblock %}/><br>
    <label for="organizador">Organizer:</label><p class="error"> {{errores.organizador}}</p><br>
    <input type="text" id="organizador" name="organizador" {% block organizador %}{% endblock %}/><br>
    <label for="href">Link to Organizer's WebPage:</label><p class="error"> {{errores.href}}</p><br>
    <input type="text" id="href" name="href" {% block href %}{% endblock %}/><br>
    <label for="fecha">Date:</label><p class="error">  {{errores.fecha}}</p><br>
    <input type="date" id="fecha" name="date" {% block date %}{% endblock %}/>
    <input type="time" id="time" name="time" {% block time %}{% endblock %}/><br>
    <label for="descripcion">Description:</label><p class="error">  {{errores.descripcion}}</p><br>
    <textarea id="descripcion" name="descripcion" class="formElements" placeholder="Type event description here...">{% block descripcion %}{% endblock %}</textarea><br>
    {% block imagenes %}
    {% endblock %}

    <div class="clearfix">
        <button type="button" class="cancelbtn" onclick="location.href='index.php'">Cancel</button>
        <button type="submit" class="signupbtn">{% block textoBoton %}{% endblock %}</button>
    </div>
</form>
{% endblock %}